canvas {
  background-color: #DDDDDD;
  width: 150px;
  border: 1px solid white;
  float: left;
  opacity: 0.75;
}

canvas.field {
  height: 150px;
}

div.row {
  width: 456px;
  margin: 0 auto;
}

div#container {
  width: 100%;
}

canvas#reset {
  height: 50px;
  margin-top: 30px;
  margin-left: 152px;
}
